dist
.git
.gitignore
Dockerfile
README.md
*.log
*.md
.env
/Jenkinsfile
/k8s-80
/k8s-hostbased-https

cves-report.json
quickview-report.txt
cves-report.txt
report.html
report.json

image-cves-report.json
image-cves-report.txt
image-recommendations.json
image-recommendations.txt